.visual {
  height: 100vh;
  background: url("../image/vi_bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
  /* position: fixed; */
}
.visual .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  color: #fff;
  text-align: center;

  opacity: 1;
  transition: 0.3s;
}
.visual .title h2 {
  font-size: 68px;
  font-weight: 300;
  line-height: 92px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
.visual .title h2 strong {
  font-weight: 700;
  color: #426aeb;
}

.visual .title .btmTt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual .title .btmTt p {
  font-size: 26px;
  font-weight: 300;
}
.visual .title .btmTt .line {
  display: block;
  width: 42px;
  height: 2px;
  margin: 0 36px;
  background: #fff;
}

.photo_frame {
  width: 100%;
  height: 100%;
  position: relative;
}
.photo_frame .item {
  position: absolute;
  cursor: pointer;
}
.photo_frame .item img {
  transition: 0.5s;
  opacity: 0.3;
}

.photo_frame .item:hover img {
  opacity: 1;
}

.photo_frame .item.item01 {
  top: 27%;
  left: 6%;

  animation: itemSpread01 1.2s both;
}
.photo_frame .item.item02 {
  top: 10%;
  left: 30%;
  align-items: flex-end;

  animation: itemSpread02 1.2s both;
}
.photo_frame .item.item03 {
  top: 14%;
  right: 28%;

  animation: itemSpread03 1.2s both;
}
.photo_frame .item.item04 {
  top: 30%;
  right: 7%;
  align-items: flex-end;

  animation: itemSpread04 1.2s both;
}
.photo_frame .item.item05 {
  bottom: 15%;
  left: 15%;

  animation: itemSpread05 1.2s both;
}
.photo_frame .item.item06 {
  bottom: 7%;
  left: 40%;

  animation: itemSpread06 1.2s both;
}
.photo_frame .item.item07 {
  bottom: 18%;
  right: 14%;

  animation: itemSpread07 1.2s both;
}
.photo_frame .item.item01,
.photo_frame .item.item05,
.photo_frame .item.item04 {
  animation-duration: 1.3s;
  animation-delay: 1.35s;
}

.photo_frame .item.item03,
.photo_frame .item.item07 {
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.photo_frame .item.item02,
.photo_frame .item.item06 {
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}
@keyframes itemSpread01 {
  0% {
    opacity: 0;
    transform: translate(150%, 150%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread02 {
  0% {
    opacity: 0;
    transform: translate(90%, 230%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread03 {
  0% {
    opacity: 0;
    transform: translate(-40%, 80%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread04 {
  0% {
    opacity: 0;
    transform: translate(-150%, 180%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread05 {
  0% {
    opacity: 0;
    transform: translate(150%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread06 {
  0% {
    opacity: 0;
    transform: translate(0, -70%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes itemSpread07 {
  0% {
    opacity: 0;
    transform: translate(-110%, -150%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* produce */
.produce {
  height: 300vh;
  z-index: 3000;
  background: transparent;
  margin-bottom: 100vh;
}
.produce .pointImg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.produce .pointImg::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 550px;
  height: 550px;
  background: url("../image/pointImg.jpg") no-repeat center bottom;
  background-size: cover;
}
.produce_air {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 550px;
  height: 550px;
  overflow: hidden;
  /* background: pink; */
}
.produce_air img {
  position: absolute;
  left: 40%;
  top: 30%;
  opacity: 0;
  /* transform: translateX() translateY(); */
}

.produce .pr_title {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);

  text-align: center;

  /* display: none; */
}
.produce .pr_title h2 {
  font-size: 120px;
  font-weight: 700;
  line-height: 190px;
  font-family: "Libre Baskerville", serif;
  color: #fff;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.164);
}

/* work */
/* .work {
  height: 2530px;
  background: #f7f7f7;
  z-index: 4000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.work .desc {
  width: 1200px;
  border: 1px solid black;
}
.work .desc .item {
  width: 1200px;
  height: 370px;
  background: pink;
  margin-bottom: 150px;

  position: relative;
}
.work .desc .item.item01 {
}
.work .desc .item.item02 {
}
.work .desc .item.item03 {
}
.work .desc .item.item04 {
  margin-bottom: 0;
}

.work .desc .item .title {
  position: absolute;
  left: 0;
  bottom: 20px;
}
.work .desc .item .title span {
}
.work .desc .item .title h2 {
}

.work .desc .item .workImg {
  width: 680px;
  height: 100%;
  background-size: cover;
  float: right;
  position: relative;
}
.work .desc .item .workImg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.work .desc .item .workImg01::before {
  background: url("../image/workImg01.png") no-repeat center center;
}
.work .desc .item .workImg02::before {
  background: url("../image/workImg02.png") no-repeat center center;
}
.work .desc .item .workImg03::before {
  background: url("../image/workImg03.png") no-repeat center center;
}
.work .desc .item .workImg04::before {
  background: url("../image/workImg04.png") no-repeat center center;
} */
.work {
  z-index: 4000;
}
.workScroll {
  height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  color: white;
}
.workScroll .item {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.workScroll .item h2 {
  font-size: 72px;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  color: #fff;
  transition: 0.3s;
}
.workScroll .item:hover h2,
.workScroll .item:hover p {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.61);
}
.workScroll .item p {
  font-size: 24px;
  font-weight: 300;
  color: #f8f6f5;
  margin-top: 26px;
  transition: 0.3s;
}
